.range-input-bar {
  height: 5px;
  background-color: rgb(133, 184, 247);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;

  &--gradient-blue-red {
    background-image: linear-gradient(90deg, rgb(0, 0, 255), rgb(255, 0, 0));
  }

  &--gradient-green-yellow {
    background-image: linear-gradient(90deg, rgb(0, 128, 0), rgb(255, 255, 0));
  }

  &--gradient-orange-red {
    background-image: linear-gradient(90deg, rgb(255, 165, 0), rgb(255, 0, 0));
  }

  &--gradient-purple-pink {
    background-image: linear-gradient(90deg, rgb(128, 0, 128), rgb(253, 141, 159));
  }

  &--gradient-yellow-blue {
    background-image: linear-gradient(90deg, rgb(255, 255, 0), rgb(2, 2, 252));
  }
}
