.button {
  display: inline-block;
  cursor: pointer;

  &--book {
    padding: 10px 40px;
    background-color: rgba(151, 35, 54, 0.555);
    color: rgb(255, 255, 255);

    &:active {
      background-color: rgba(214, 0, 36, 0.7);
      transform: scale(0.95);
    }
  }

  &--sign-in {
    padding: 10px 45px;
    background-color: rgba(37, 99, 175, 0.5);
    color: rgb(255, 255, 255);

    &:active {
      background-color: rgba(37, 99, 175, 0.9);
      transform: scale(0.95);
    }
  }
}
