.products {
  width: 60vw;
  margin: 45px auto;

  &__price {
    > :last-child {
      margin-top: 17px;
    }
  }
}

.products-item {
  padding: 7px 20px;
  margin: 5px;
  border: 1px solid rgb(133, 184, 247);
}
