* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.values-field {
  margin: 10px 25px 10px 0;
  padding: 10px;
  box-shadow: 2px 1px 10px rgba(29, 137, 232, 0.5);
  color: rgb(4, 38, 68);
  font-weight: bold;
}

.status {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(4, 38, 68);
  font-size: 20px;
  background-color: rgb(156, 0, 0);
}
