.toggle {
  border-radius: 50%;
  background-color: rgb(29, 137, 232);
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  cursor: pointer;

  &--type-left {
    transform: translateY(-50%) translateX(-8px);
  }

  &--type-right {
    transform: translateY(-50%) translateX(8px);
  }
}
