.scale {
  width: 100%;
  display: flex;
  border-right: 2px solid  rgb(29, 137, 232);

  &__item {
    position: relative;
    height: 10px;

    &::before {
      content: '';
      position: absolute;
      left: -1;
      width: 2px;
      height: 100%;
      background-color: rgb(29, 137, 232);
    }
  }

}
