.text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  letter-spacing: 0.7px;

  &--bold {
    font-weight: bold;
  }

  &--upper {
    text-transform: uppercase;
  }

  &--theme-dark-blue {
    color: rgb(0, 28, 61);
  }

  &--theme-brick {
    color: rgb(161, 44, 64);
  }

  &--size-big {
    font-size: 33px;
  }
}
